<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="URLAPI" value="http://ch71w0119/PMSWebAPI/api/SnMove/" />-->
    <!--<add key="WorkAreaCode" value="" />
    <add key="ResourceCode" value="" />-->
    <add key="URLAPI" value="http://ch3uw3079:9001/api/LineDashboardAPI/" />
  </appSettings>
</configuration>